.quick-menu {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 40px 0;
}

@media (max-width: 768px) {
    .quick-menu {
        flex-wrap: wrap;
        gap: 20px;
    }

    .quick-menu .icon {
        flex-basis: calc(50% - 20px);
    }
}

.quick-menu .icon {
    text-align: center;
}

.quick-menu .icon img {
    border-radius: 50%;
    margin-bottom: 8px;
    width: 32px;
    height: 32px;
    object-fit: cover;
}

.quick-menu .icon div {
    font-size: 14px;
    font-weight: 700;
    color: var(--text-color);
    margin-top: 2px;
}